* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 40px 0;
    font-family: 'Ink Free';
}

.container {
    height: 100vh;
    text-align: center;
}

.cards {
    width: 40%;
    margin: auto;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 10px;
}

.cards p {
    width: 22%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Ink Free';
    font-size: 30px;
    font-weight: bolder;
    margin: 5px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}


@media only screen and (max-width: 900px) {
      .cards {
        width: 70%;
    }
    

  }

  @media only screen and (max-width: 600px) {
    .cards {
      width: 85%;
  }
  

}
 